<header class="header">
  <div class="header-content width-container">
    <h1 class="header__heading">
      <a href="/" class="header-link">Album Manager</a>
    </h1>
    <ul class="header-list">
      <li><a class="header-link" href="/album/new">+ New Album</a></li>
    </ul>
  </div>
</header>
