@import url(https://fonts.bunny.net/css?family=roboto:400,700);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --MAIN-COLOUR: #f5f9ee;
  --DARK-COLOUR: #eef2e2;
  --ACCENT-1: #247291;
  --ACCENT-2: #f8da5b;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
}

.width-container {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
}

body {
  min-height: 100vh;
  background-color: var(--DARK-COLOUR);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* HEADER */

.header {
  min-height: 50px;
  background-color: var(--ACCENT-1);
  color: var(--MAIN-COLOUR);
  padding: 1em 0;
}

.header__heading {
  font-size: 2rem;
}

/* ALBUM LIST */

.album-list-container {
  margin-top: 1em;
}

.album-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.album-item {
  background-color: var(--MAIN-COLOUR);
  display: flex;
  align-items: start;
  gap: 0.75em;
  padding: 1em;
}

.album-item__cover {
  width: 100%;
  max-width: 125px;
  height: auto;
}

.album-item__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.album-item__link {
  text-decoration: none;
  color: inherit;
}

.album-item__link:hover {
  color: var(--ACCENT-1);
}

.album-item__release,
.album-item__artist {
  font-size: 1.2rem;
}

/* FOOTER */

.footer {
  min-height: 50px;
  background-color: var(--ACCENT-2);
}

.footer-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
